@import "../../../styles.scss";


.wrapper {
    @include slick-border;
    width: 60%;
    display: inline-flex
}

.types {
    text-align: left;
    margin-left: 3vh;
    width: -webkit-fill-available;
}

.types p {
    font-size: 4vh;
    line-height: 0vh;
}

app-game-score {
    float: left;
    margin: 1.5vh;
    width: 23vh;
}