// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:600,700);


// Variables
$barlow-font: 'Barlow Semi Condensed', serif;
$gradient1: hsl(237, 49%, 15%);
$gradient2: hsl(214, 47%, 23%);
$light-background: whitesmoke;


// Mixins
@mixin barlow-text {
    font-family: $barlow-font;
    font-weight: 600;
    color: $light-background;
}

@mixin slick-border {
    border-radius: 10px;
    border: solid 2px;
    border-color: rgba($color: $light-background, $alpha: 0.3)
}


// Body
body {
    @include barlow-text;

    text-align: -webkit-center;
    
    // TODO: - To redo!
    background: $gradient1; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, $gradient2 0%, $gradient1 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, $gradient2 0%, $gradient1 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse center farthest-corner, $gradient2 0%, $gradient1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}