// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:600,700);

// Font Variables
$barlow-font: 'Barlow Semi Condensed', serif;

// Styles
// body {
//   font-family: $barlow-font;
//   font-weight: 600;
// }

$gradient1: hsl(237, 49%, 15%);
$gradient2: hsl(214, 47%, 23%);

body {
    font-family: $barlow-font;
    font-weight: 600;
    
    // TODO: - To redo!
    background: $gradient1; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, $gradient2 0%, $gradient1 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, $gradient2 0%, $gradient1 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse center farthest-corner, $gradient2 0%, $gradient1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}